<section id="confirmation-section" class="container">
  <div *ngIf="order.items.length === 0" class="dsc-empty-cart">
    <h2 class="dsc-section-title">Voce não possui pedidos</h2>
  </div>

  <div *ngIf="order.items.length > 0">
    <div class="product">
      <div *ngFor="let item of order.items">
        <img [src]="item.imgUrl" [alt]="item.name" />

        <div class="product-info">
          <h3>{{ item.name }}</h3>
          <div class="product-quantity">Qt.{{ item.quantity }}</div>
          <div class="product-price">R$ {{ item.subTotal.toFixed(2) }}</div>
        </div>
      </div>
    </div>

    <div class="order-summary">
      <h3>Status {{ order?.status }}</h3>

      <h3>{{ order?.client?.name }}</h3>

      <h3>Total pedido R$ {{ order?.total?.toFixed(2) }}</h3>

      <div class="order-message">Seu pedido é o número {{ order?.id }}</div>
    </div>
  </div>
</section>
