.card-busca {
  max-width: 300px;
  background-color: #fef7ff;
  border-radius: 12px;
  button {
    width: 100%;
    margin: 0 16px 48px;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      margin: 12px;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;

      text-align: center;
    }
  }
  .preco {
    color: green;
    font-weight: 700;
  }
}
mdc-filled-button-container-color {
  background-color: black;
}

@media screen and (max-width: 375px) {
  .card-busca {
    width: 300%;
  }
}
