<header class="app-header">
  <mat-toolbar>
    <a class="dsTitle" [routerLink]="['/']"> DsComercio</a>

    <span class="spacer"></span>

    <img
      [routerLink]="['/shoppingCart']"
      src="../../../assets/imagens/imagemCarrinho.svg"
      alt="carrinhoCompras"
      style="cursor: pointer"
    />
    <ng-container *ngIf="user$ | async as pessoaUsuaria; else login">
      <a class="iconePerfil" [routerLink]="['/perfil']">
        <img src="assets/icones/user.png" alt="Ícone da pessoa usuária" />
      </a>
      <button mat-stroked-button (click)="logout()">SAIR</button>
    </ng-container>
    <ng-template #login>
      <button mat-stroked-button [routerLink]="['/login']">LOGIN</button>
      <button mat-flat-button [routerLink]="['/cadastro']">CADASTRE-SE</button>
    </ng-template>
  </mat-toolbar>
</header>
